/*
==========================
FONT
==========================
*/
/*
==========================
COLORS
==========================
*/
/*
==========================
STYLING
==========================
*/
/*
==========================
PORTALS
==========================
*/
/*
==========================
CARDS
==========================
*/
/*
==========================
VOYAGE CARDS
==========================
*/
/*
==========================
MAIN BUTTONS
==========================
*/
/*
==========================
FORMS
==========================
*/
/*
==========================
ORIGINAL PROJECT VARIABLES
==========================
*/
.loading-container {
  background-color: rgba(158, 158, 158, 0.637);
  display: block;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
  top: 0px;
  left: 0px; }

.loading {
  border: 20px solid white;
  border-top: 20px solid #15cf89;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  animation: spin 2s linear infinite;
  display: block;
  margin: 0 auto;
  top: calc(50vh - 90px);
  position: absolute;
  left: calc(50vw - 90px);
  z-index: 1000; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
